<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <%- include('../../partials/head'); %>
    <link rel="stylesheet" href="/css/category/home.css" />
    <style>
      /* Estilos personalizados */

      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
      }

      .columns {
        display: flex;
        flex-wrap: wrap;
      }

      .column {
        flex: 1;
        height: 100vh;
        background-color: #1e1e1e;
      }

      .is-11 {
        flex-basis: 91.66667%;
      }

      .section {
        padding: 20px;
      }

      .title {
        font-size: 24px;
        margin-bottom: 20px;
        color: #fff;
      }

      .table-container {
        overflow-x: auto;
        background-color: #1e1e1e;
      }

      .table {
        width: 100%;

        border-collapse: collapse;
      }

      .table th,
      .table td {
        padding: 10px;
      }

      .table th {
        background-color: #1e1e1e;
        text-align: left;
      }

      .table-container .button {
        margin-right: 5px;
      }

      .button {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 4px;
        cursor: pointer;
      }

      .button:hover {
        background-color: #0056b3;
      }

      .button.is-danger {
        background-color: #dc3545;
        height: 41px;
      }

      .button.is-danger:hover {
        background-color: #c82333;
      }
    </style>
    <title>admin</title>
  </head>
  <body>
    <div class="columns">
      <!-- <%- include('../../partials/navigator'); %> -->

      <div class="column is-11">
        <section class="section is-fullhd">
          <h1 class="title">Administradores</h1>
          <div class="table-container">
            <table class="table is-striped is-fullwidth">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>email</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <% admins.forEach(admin => { %>
                <tr>
                  <th><%= admin.id %></th>
                  <th><%= admin.email %></th>
                  <th style="display: flex">
                    <a href="/admin/edit/<%= admin.id %>" class="button">
                      <ion-icon name="create-outline"></ion-icon>
                    </a>
                    <form
                      class="is-inline-block"
                      action="/admin/delete/<%= admin.id %>"
                      onsubmit="confirmSendDelete(event, this)"
                      method="post"
                    >
                      <button class="button is-danger">
                        <ion-icon name="trash-outline"></ion-icon>
                      </button>
                    </form>
                  </th>
                </tr>
                <% }) %>
              </tbody>
            </table>
          </div>
        </section>
      </div>
    </div>

    <a href="/admin/create" id="btn-create-category">
      <ion-icon name="add-outline"></ion-icon>
    </a>

    <%- include('../../partials/footer'); %>
  </body>
</html>
