<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/home/style.css">
    <title>Home</title>
</head>
<body>
    
    <%- include('../../partials/header'); %>

    <main class="main">

        <section class="cover">
            <div class="content-cover">
                <h1 class="title-cover">Redid</h1>
                <p>Bem vindo ao nosso blog sobre tecnologia, inscreva-se.</p>
            </div>
        </section>

        <div class="card-container">
            <div class="contend-card">


                <% documents.forEach(document => {%>
                    <article class="card">
                        <div class="card-img">
                            <img src="<%= document.urlThumbnail %>" alt="" class="card-picture" >
                            <a href="/document/<%= document.slug %>" class="absolute-link"></a>
                        </div>
                        <div class="card-info">
                            <span class="info">
                                <%= document.category.title %>
                                <a href="/category/<%= document.category.slug %>" class="absolute-link"></a>
                            </span>
                            <h3 class="info-title">
                                <%= document.title %>
                                <a href="/document/<%= document.slug %>" class="absolute-link"></a>
                            </h3>
                            <span class="info date" >há x meses</span>
                            <input type="hidden" class="input-date-value-card" value="<%= document.dateCreate %>">
                        </div>
                    </article>
                <% }) %>
            </div>
        </div>

    </main>
    <%- include('../../partials/footer-home'); %>
</body>
<%- include('../../partials/footer'); %>
</html>

