<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home/style.css">
    <title>Home</title>
</head>
<body>
    <header class="header">
        <div class="header-container">
            <div class="container-logo">
                <a href="/" class="link-home-logo"></a>
                <img src="/img/Radtek-removebg-preview.png" alt="logo-redid" class="logo">
                <span class="name-blog">Redid</span>
            </div>

            <nav class="navbar">
                <ul class="nav-list">
                    <li class="nav-items">Frot End</li>
                    <li class="nav-items">Back End</li>
                </ul>

                <div class="categories-container">
                    <ion-icon name="terminal-outline"></ion-icon>

                    <div class="box-categories">
                        <ul class="categories-list">
                            <li class="categories-items">Exemplo</li>
                            <li class="categories-items">Outro exemplo</li>
                            <li class="categories-items">etc</li>
                            <li class="categories-items">Exemplo</li>
                            <li class="categories-items">Outro exemplo</li>
                            <li class="categories-items">etc</li>
                            <li class="categories-items">Exemplo</li>
                            <li class="categories-items">Outro exemplo</li>
                            <li class="categories-items">etc</li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <main class="main">

        <section class="cover">
            <div class="content-cover">
                <h1 class="title-cover">Redid</h1>
                <p>Bem vindo ao nosso blog sobre tecnologia, inscreva-se.</p>
            </div>
        </section>

        <div class="card-container">
            <div class="contend-card">


                <% documents.forEach(document => {%>
                    <article class="card">
                        <div class="card-img">
                            <img src="<%= document.urlThumbnail %>" alt="" class="card-picture" >
                        </div>
                        <div class="card-info">
                            <span class="info"><%= document.category.title %></span>
                            <h3 class="info-title"><%= document.title %></h3>

                            <span class="info date" >há x meses</span>
                            <input type="hidden" id="input-date-value-card" value="<%= document.createdAt %>">
                        </div>
                    </article>
                <% }) %>
            </div>
        </div>

    </main>
    <%- include('../../partials/footer-home'); %>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous"></script>
<%- include('../../partials/footer'); %>
</html>

